/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
