<ng-container *ngIf="waiting; else waitingTrue"
  ><p class="d-flex align-items-center justify-content-center mt-4 text-white">
    Recupero Task...
  </p></ng-container
>

<ng-template #waitingTrue
  ><div class="center-page">
    <div *ngFor="let newTask of todos">
      <div *ngIf="!newTask.completed">
        <ul
          class="d-flex justify-content-center align-items-center mt-5 text-white"
        >
          <li>{{ newTask.title }}</li>

          <button
            class="border border-0 bg-info text-white rounded mx-2"
            (click)="changeTask(newTask.id)"
          >
            <i class="bi bi-box-arrow-in-left"></i>
          </button>
          <button
            class="bg-danger border border-0 rounded"
            (click)="removeTask(newTask.id)"
          >
            <i class="bi bi-trash text-white"></i>
          </button>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
